:root {
  --app-background-color: #FFFFFF;
  --dynamic-title-color: #363636;
  --dynamic-subtitle-color: #4a4a4a;
  --app-wrapper-color: #091A28;
  --app-button-color: #FFF;
  --app-logout-color: #091A28;
}

[theme="dark"] {
  --app-background-color: #091A28;
  --dynamic-title-color: #FFFFFF;
  --dynamic-subtitle-color: cyan;
  --app-wrapper-color: #FFF;
  --app-button-color: #091A28;
  --app-logout-color: #FFF;
}
